@model IEnumerable<CbaSodiq.Core.Models.TillToUser>

@{
    ViewBag.Title = "Index";
}

<div id="wrapper">
    @Html.Partial("_SideBarMultiLevelDropdown")
<div id="page-wrapper">
    <h2>List of Tellers</h2>

    <p>
        @Html.ActionLink("Assign Till to User", "AssignTillToUser")
    </p>
    <table class="table table-bordered">
        <tr>
            <th>
                User
            </th>
            <th>
                Till Account
            </th>
            <th>Account Balance</th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            @{ string username = new CbaSodiq.Data.Repositories.UserRepository().GetById(item.UserId).Username;
        <td>@username</td>
            }

            @{ CbaSodiq.Core.Models.GlAccount till = new CbaSodiq.Data.Repositories.GlAccountRepository().GetById(item.TillId);
           if (till == null)
           {
        <td>Nil</td>
        <td>Nil</td>
           }
           else
           {
        <td>@till.AccountName</td>
        <td>N @till.AccountBalance.ToString("N02")</td>
           }



            }

        </tr>
}

    </table>
</div>
</div>
