@model IEnumerable<CbaSodiq.Core.Models.ExpenseIncomeEntry>
@{
    ViewBag.Title = "ProfitAndLoss";
}

<div id="wrapper">
    <!-- Navigation -->
    
    @Html.Partial("_SideBarMultiLevelDropdown")

    <div id="page-wrapper">
        <h2 class="text-center" style="color:lightblue">SKBank Nig Ltd. Profit And Loss Statement</h2>
        <h4 class="text-center" style="color:lightblue">@ViewBag.TableTitle</h4>
        @using (Html.BeginForm())
        {
            <p class="text-center">
                From: <input type="date" name="date1" /> To: <input type="date" name="date2" />
                <input type="submit" value="Load" />
            </p>
        }
        <br />
        <table class="table table-bordered">
            <tr>
                <th style="background-color:lightblue"><b style="color:white">Income</b></th>
                <th style="background-color:lightblue"><b style="color:white">Amount (N)</b></th>
            </tr>

            @foreach (var item in Model.Where(m => m.EntryType == CbaSodiq.Core.Models.PandLType.Income))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td>
                        @item.Amount.ToString("N2", System.Globalization.CultureInfo.InvariantCulture)
                    </td>

                </tr>
            }
            <tr>
                <th></th>
                <th> </th>
            </tr>
            <tr>
                <th>Total Income</th>
                @{
                    decimal sumIncome = (decimal)ViewBag.SumOfIncome;
                    <th>@sumIncome.ToString("N02")</th>
                }

            </tr>

            <tr> <th></th><th> </th> </tr>
            <tr> <th></th><th> </th> </tr>

            <tr>
                <th style="background-color:lightblue"><b style="color:white">Expenses</b></th>
                <th style="background-color:lightblue"><b style="color:white"></b></th>
            </tr>

            @foreach (var item in Model.Where(m => m.EntryType == CbaSodiq.Core.Models.PandLType.Expenses))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td>
                        @item.Amount.ToString("N02")
                    </td>

                </tr>
            }




            <tr>
                <th></th>
                <th> </th>
            </tr>
            <tr>
                <th>Total Expense</th>
                @{
                    decimal sumExp = (decimal)ViewBag.SumOfExpense;
                    <th>@sumExp.ToString("N02")</th>
                }
            </tr>
            <tr> <th></th><th> </th> </tr>
            <tr> <th></th><th> </th> </tr>

            <tr>
                <th>Profit/Loss</th>
                @{
                    decimal p_L = (decimal)ViewBag.Profit;
                    <th>@p_L.ToString("N02")</th>
                }
            </tr>
        </table>
    </div>
</div>